<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Unsafe DB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<table>
    <thead>
        <th> Name </th>
        <th> Email</th>
    </thead>
    <tr th:if="${#lists.isEmpty(users)}">
        <td colspan="2"> No users sent </td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.name}"></span></td>
        <td><span th:text="${user.email}"></span></td>
    </tr>
</table>
<form action="#" th:action="@{/db}" th:object="${search}" method="post">
    Search name: <input type="text" th:field="*{str}" />
    <input type="submit" value="submit" />
</form>
</body>
</html>